*{
    margin:0;
    padding:0;
}
body{
  background-color: lightyellow;
  min-height: 100vh;
}

.navbar{
    vertical-align: middle;
    background-color: rgba(0,0,0,0.50);
    display: inline-flex;
    align-items:center;
    width:100%;

}

#logo{
    display:flex;
    height:70px;
    width:70px;
    padding: 10px 20px;
    border-radius: 30%;
}

ul{
    list-style-type: none;
    display:flex;
    padding: 5px 25px;
    margin-left:650px;
    
}

li{
    flex-wrap: nowrap;
    text-align: right;
    padding: 0 5px;
    font-family:'Cormorant Garamond';
    font-size:14px;
    color:lemonchiffon;
}

.link{
    color:lemonchiffon;
    text-decoration: none;

}

.link:hover{
    color:rgb(162, 207, 180);
}


h1{
    text-align: center;
    font-family: 'Merienda';
    padding:10px;

}

.body_background{
    background-color: white ;
    margin:20px;

}

label{
    display: inline-block;
    width:100px;
}


#deliver {
    width: 150px;
}

form{
    margin: 0 10px;
    width: 880px;
    display:inline-block;
    margin-left:15%;
    font-family: 'Cormorant Garamond';
}

fieldset{
    background-color:white;
    padding:20px;


}

.fa, .fab{
    font-size:25px;
}

.bold{
    font-weight: bold;
}

.submit{
    margin-left:340px;
    background-color: rgb(248, 208, 198);
    outline: none;
    padding:5px 10px;
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    
}

.submit:hover{
    transition: .8s;
    background-color: rgb(179, 245, 212);
    color:rgb(90, 90, 90);
    font-family: 'Cormorant Garamond';
}

.clear{
    background-color: rgb(248, 208, 198);
    outline: none;
    padding:5px 10px;
    font-family: 'Cormorant Garamond';
    font-weight: bold;

}

.clear:hover{
    transition: .8s;
    background-color:  rgb(184, 179, 245);;
    color:rgb(90, 90, 90);
    font-family: 'Cormorant Garamond';
}

footer{
    display:absolute;
    margin-bottom:-20px;
    padding:20px;
    background-color: rgba(0,0,0,0.3);
}

/*Merienda import font*/
@font-face {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/merienda/v9/gNMHW3x8Qoy5_mf8uWMFMIo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /*Cormorant garamond import font*/
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cormorantgaramond/v10/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhfvg-I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
